---
import Layout from '../layouts/Layout.astro';
import HeroTitle from '../components/HeroTitle.astro';
import Miembros from '../sections/Miembros.astro';
// import fuego from '/public/images/imagen-fuego.svg';
---

<Layout title="Conocé un poco más sobre nosotros - Cooperativa IGNEAS" description='Conocé mas sobre nosotros, nuestro equipo, objetivos, metas, etc.' notFound={false}>
    <section class="us-banner">
        <HeroTitle title='CONOCÉ NUESTRO EQUIPO!'/>
        <!-- <img class="fuego" src={fuego.src} alt="imagen decorativa de una llama de fuego "> -->
    </section>
    <Miembros />
</Layout>


<style>

    .us-banner{
        position: relative;
        background: var(--azul);
        height: 100vh;
        display: flex;
        align-items: end;
        padding: 40px;
        overflow: hidden;
    }

    .title{
        margin-top: 300px;
    }

    /* .fuego{
        position: absolute;
        bottom: -200px;
        right: -30px;
        width: 600px;
        animation: flicker 4s infinite ;
        z-index: 0;
    } */


    /* SMARTPHONE */
    @media screen and (min-width: 375px) and (max-width: 767px){
        /* .fuego{
            width: 350px;
            bottom: -80px;
            right: -95px;
            z-index: 0;
        } */
    }

    /* TABLET */
    @media screen and (min-width: 768px) and (max-width: 1023px){
        /* .fuego{
            width: 450px;
            bottom: -100px;
            right: -100px;
            z-index: 0;
        } */
    }

    /* DESKTOP */
    @media screen and (min-width: 1024px){
        .new-news_title{
            font-size: 40px;
        }
    }

    @keyframes flicker {
        0%, 100% {
            opacity: 0.4;
            filter: drop-shadow(0 0 0 var(--naranja));
            transform: rotate(-25deg);
        }
        50% {
            opacity: 1;
            filter: drop-shadow(0 0 8px var(--naranja));
            transform: rotate(-25deg);
        }
    }

</style>
