---

---

<section class="upcoming-events">
    <h2 class="events-title">Próximos Eventos</h2>
    <div class="container-events">
        
    </div>
</section>

<style>
    .upcoming-events{
        background: var(--fondo-blanco);
        padding: 50px;
    }

    .events-title{
        color: var(--azul);
        font-size: 50px;
        font-weight: 500;
    }
</style>